#navibar .navbar-nav .nav-link {
    flex-direction: row;
    font-size: 20px; /* リンクの文字サイズ */
    color: ghostwhite;
    margin-right: 10px;
}

#navibar .navbar-brand {
    font-size: 40px; /* ブランドの文字サイズ */
    font-weight: bold;  /* 太文字にする */
    color: ghostwhite; 
    margin-right: 800px;
}
